THEMOVIEDB_ACCESS_TOKEN="eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwMzM2YzgwOWI0NThiMmNhM2YzZDZmNTQ0ZDY3YzBhYiIsIm5iZiI6MTcyNjM1ODM0Ni42ODM1OTYsInN1YiI6IjY2ZTRjMTViNDZkZWM1NmM0ZTNhZDQyZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.mYEnA4tY_XGl0fPUmcnAFqNTWZscxb_E6DdvZzJlLsg"
NEXT_PUBLIC_TMDB_POSTER_BASE_URL="https://image.tmdb.org/t/p/original"